*.adf
install-sh
Makefile.in
aclocal.m4
config.h
src/Makefile.in
autom4te.cache/
config.log
config.status
configure
_res/Makefile
data/icons/Makefile
src/.deps
src/Makefile
src/*.o
compile
config.h.in
depcomp
missing
stamp-h1
config.h.in~
src/casentino2020
floppy/casentino2020.adf
core
_res/bkup
.vscode
finalimages